<!-------  header start  ------->
<header class="header">
  <div class="header__container">
    <div class="header__logo logo">
      <a href="" class="logo__link">
        <img src="img/logo.png" alt="avicenna">
      </a>
    </div>
    <div class="header__menu-wrapper">
      <button class="header__hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <menu class="header__menu menu">
        <li class="menu__item header-menu__item">
          <a href="#" class="item__link header-item__link">Услуги и цены
            <button class="header__button item__link-button">
              <svg class="item__link-arrow">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </button>
          </a>
          <ul class="header__dropdown">
            <li class="dropdown__item"><a href="" class="dropdown__link header-item__link">Консультация онколога</a></li>
            <li class="dropdown__item"><a href="" class="dropdown__link header-item__link">Чистка лица</a></li>
            <li class="dropdown__item"><a href="" class="dropdown__link header-item__link">Лимфодренажный массаж</a></li>
            <li class="dropdown__item"><a href="" class="dropdown__link header-item__link">Восковая депиляция</a></li>
          </ul>
        </li>
        <li class="menu__item header-menu__item"><a href="#" class="item__link header-item__link">Специалисты</a></li>
        <li class="menu__item header-menu__item"><a href="#" class="item__link header-item__link">Новости и статьи</a></li>
        <li class="menu__item header-menu__item">
          <a href="#" class="item__link header-item__link">О клинике
            <button class="header__button item__link-button">
              <svg class="item__link-arrow">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </button>
          </a>
        </li>
        <li class="menu__item header-menu__item"><a href="#" class="item__link header-item__link">О клинике</a></li>
      </menu>
    </div>
    <div class="header__contact">
      <svg class="header__contact-phone">
        <use xlink:href="img/sprite.svg#phone"></use>
      </svg>
      <a href="tel:89224413673" class="header__contact-link">8 (922) 441-36-73</a>
      </br>
      <p class="header__mode">Режим работы</p>
      <p class="header__mode header__mode-time">(с 10:00 до 20:00 ежедневно)</p>
    </div>
    <!-------  form search start  ------->
    <div class="search__wrap">
      <div class="header__search">
        <input type="text" class="searchText" placeholder="Поиск по сайту">
        <svg class="search__icon">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </div>
      <svg class="search__cross">
        <use xlink:href="img/sprite.svg#search__cross"></use>
      </svg>
    </div>
    <!-------  form search end  ------->
    <div class="header__block-button">
      <button class="header__button header__button-consultation">Записаться на консультацию
        <svg class="button__consultation">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="header__button header__button-green header__button--eye">
        <svg class="button__svg">
          <use xlink:href="img/sprite.svg#eye"></use>
        </svg>
      </button>
      <button class="header__button header__button-green header__button--search">
        <svg class="button__svg">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!-------  header end  ------->