<!-------  footer start  ------->

<footer class="footer">
  <div class="container footer__container">
    <ul class="footer__banner">
      <li class="footer__logo logo">
        <a href="">
          <img src="img/logo.png" alt="logo">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/banner1.png" alt="banner">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/banner2.png" alt="banner">
        </a>
      </li>
    </ul>
    <ul class="footer__about footer__nav">
      <li class="footer-about__item"><a href="#" class="footer-about__link footer-about__link--bold">О компании</a></li>
      <li class="footer-about__item"><a href="#" class="footer-about__link"><span>Услуги и цены</span></a></li>
      <li class="footer-about__item"><a href="#" class="footer-about__link"><span>Специалисты</span></a></li>
      <li class="footer-about__item"><a href="#" class="footer-about__link"><span>Новости и статьи</span></a></li>
      <li class="footer-about__item"><a href="#" class="footer-about__link"><span>О клинике</span></a></li>
      <li class="footer-about__item"><a href="#" class="footer-about__link"><span>Контакты</span></a></li>
    </ul>
    <ul class="footer__services footer__nav">
      <li class="footer-about__item"><a href="#" class="footer-about__link footer-about__link--bold">Услуги</a></li>
      <li class="footer-about__item"><a href="#" class="footer-about__link"><span>Консультация</span> <span>онколога</span></a></li>
      <li class="footer-about__item"><a href="#" class="footer-about__link"><span>Чистка лица</span></a></li>
      <li class="footer-about__item"><a href="#" class="footer-about__link"><span>Лимфодренажный</span> <span>массаж</span></a></li>
      <li class="footer-about__item"><a href="#" class="footer-about__link"><span>Восковая</span> <span>депиляция</span></a></li>
    </ul>
    <ul class="footer__contact">
      <li class="footer-contact__item"><a href="#" class="footer-about__link footer-link__contact">
        <svg class="footer__icon">
          <use xlink:href="img/sprite.svg#phone-footer"></use>
        </svg> (866.719.0380)</a></li>
      <li class="footer-contact__item"><a href="#" class="footer-about__link footer-link__contact">
        <svg class="footer__icon">
          <use xlink:href="img/sprite.svg#mail-footer"></use>
        </svg> avicena@gmail.com</a></li>
      <li class="footer-contact__item"><a href="#" class="footer-about__link footer-link__contact">
        <svg class="footer__icon footer__icon--location">
          <use xlink:href="img/sprite.svg#location-footer"></use>
        </svg> г. Ханты-Мансийск, <br class="footer_porting">ул. Строителей 111</a></li>
    </ul>
    <span class="footer__cop">
      © 2012 «Авиценна»
    </span>
  </div>
</footer>

<!-------  footer end  ------->
