<!-------  modal-shipping start  ------->
<section class="shipping">
  <div class="container shipping__container">
    <div class="shipping__wrap-title">
      <h2 class="shipping__title title">
      Спасибо за&nbsp;заявку!
    </h2>
    <p class="shipping__subtitle">
      Наш менеджер свяжется с&nbsp;</wbr>Вами в&nbsp;течение нескольких минут
    </p>
    </div>
    <div class="shipping__bg">
      <img src="img/bg-shipping.png" alt="">
    </div>
  </div>
  <div class="home-form__decor home-form__decor--vistablue"></div>
  <div class="home-form__decor home-form__decor--narvik"></div>
</section>


<!-------  modal-shipping end  ------->