<!-------  home__section-professionals start  ------->
<section class="professionals">
  <h2 class="professionals__title">
    <span class="professionals__subtitle">
      Подзаголовок
    </span></br>
    Специалисты
  </h2>
  <!--    swiper    -->
  <div class="swiper-container professionals__slider">
    <div class="swiper-wrapper swiper__professionals">
      <div class="swiper-slide professionals__swiper-slide">
        <a href="#">
          <div class="professionals__slide">
            <img class="professionals__img" src="img/slider2.1.png" alt="">
          </div>
          <p class="professionals__slide-text">
            Иванов Иван<wbr> Анатольевич
            <span class="professionals__slide-subtext">
            онколог
          </span>
          </p>
        </a>
      </div>
      <div class="swiper-slide professionals__swiper-slide">
        <a href="">
          <div class="professionals__slide">
            <img class="professionals__img" src="img/slider2.2.png" alt="">
          </div>
          <p class="professionals__slide-text">
            Панченко Елена<wbr> Александровна
            <span class="professionals__slide-subtext">
              косметолог
          </span>
          </p>
        </a>
      </div>
      <div class="swiper-slide professionals__swiper-slide">
        <a href="">
          <div class="professionals__slide">
            <img class="professionals__img" src="img/slider2.3.png" alt="">
          </div>
          <p class="professionals__slide-text">
            Иванов Иван<wbr> Анатольевич
            <span class="professionals__slide-subtext">
            онколог
          </span>
          </p>
        </a>
      </div>
      <div class="swiper-slide professionals__swiper-slide">
        <a href="">
          <div class="professionals__slide">
            <img class="professionals__img" src="img/slider2.4.png" alt="">
          </div>
          <p class="professionals__slide-text">
            Казаченко Валерия<wbr> Степановна
            <span class="professionals__slide-subtext">
            онколог
          </span>
          </p>
        </a>
      </div>
      <div class="swiper-slide professionals__swiper-slide">
        <a href="">
          <div class="professionals__slide">
            <img class="professionals__img" src="img/slider2.1.png" alt="">
          </div>
          <p class="professionals__slide-text">
            Иванов Иван<wbr> Анатольевич
            <span class="professionals__slide-subtext">
            онколог
          </span>
          </p>
        </a>
      </div>
      <div class="swiper-slide professionals__swiper-slide">
        <a href="">
          <div class="professionals__slide">
            <img class="professionals__img" src="img/slider2.2.png" alt="">
          </div>
          <p class="professionals__slide-text">
            Панченко Елена<wbr> Александровна
            <span class="professionals__slide-subtext">
            косметолог
          </span>
          </p>
        </a>
      </div>
    </div>
    <div class="professionals__bg-gradient"></div>
    <!-- If we need navigation buttons -->
    <div class="professionals__slide-navigation">
      <div class="slider-button swiper-button-prev">
        <svg class="arrow__navigation arrow__navigation--lift">
          <use xlink:href="img/sprite.svg#slider-arrow"></use>
        </svg>
      </div>
      <div class="slider-button swiper-button-next">
        <svg class="arrow__navigation">
          <use xlink:href="img/sprite.svg#slider-arrow"></use>
        </svg>
      </div>
    </div>
  </div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar professionals__scrollbar"></div>
</section>


<!-------  home__section-professionals end  ------->