<!-------  home__section-form start  ------->
<section class="section__home-form">
  <div class="container container__home-form">
    <h2 class="home-form__title title">
      Не&nbsp;знаете к&nbsp;кому записаться?
    </h2>
    <p class="home-form__subtitle">
      Оставьте ваш номер и&nbsp;мы&nbsp;подскажем нужного специалиста
    </p>
    <form action="" class="form__home">
      <label for="userName" class="form__label form__label--top">
        <span class="form__label-text">*Имя</span>
        <p class="form__home-input form__user-name">
        <span class="form__input-icon">
          <svg class="input__icon">
            <use xlink:href="img/sprite.svg#user-form"></use>
          </svg>
        </span>
          <input id="userName" type="text" placeholder="Введите имя" required autocomplete>
        </p>
      </label>
      <label for="phone" class="form__label">
        <span class="form__label-text">*Телефон</span>
        <p class="form__home-input form__user-phone">
        <span class="form__input-icon">
          <svg class="input__icon">
            <use xlink:href="img/sprite.svg#phone-form"></use>
          </svg>
        </span>
          <input id="phone" type="text" placeholder="+7 ( __ ) ___ - __ - __" required autocomplete>
        </p>
      </label>
      <button type="submit" class="form__home-button">
        Отправить
        <svg class="button__send">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </form>
    <p class="home-form__subtext home-form__subtext--top">Нажимая отправить я&nbsp;соглашаюсь с&nbsp;политикой работы с&nbsp;<span class="form__subtext-line">персональными даннымия</span></p>
    <p class="home-form__subtext">Защита от&nbsp;спама reCAPTCHA <span class="form__subtext-line">Конфиденциальность</span> и&nbsp;<span class="form__subtext-line">Условия использования</span></p>
  </div>
  <div class="home-form__decor home-form__decor--vistablue"></div>
  <div class="home-form__decor home-form__decor--narvik"></div>
</section>


<!-------  home__section-form end  ------->