<!-------  home__section-services start  ------->
<section class="services">
  <h2 class="services__title">
    <span class="services__subtitle">
      Подзаголовок
    </span></br>
    Услуги клиники
  </h2>
  <!--    swiper    -->
  <div class="swiper-container services__slider">
    <div class="swiper-wrapper swiper__services">
      <div class="swiper-slide services__swiper-slide">
        <a href="">
          <div class="services__slide">
            <img class="services__img" src="img/pic1.png" alt="">
            <div class="slide__border-icon">
              <div class="slide__bg-icon">
                <svg class="slide__icon">
                  <use xlink:href="img/sprite.svg#pic1"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="services__slide-text">
            Консультация онколога
          </p>
        </a>
      </div>
      <div class="swiper-slide services__swiper-slide">
        <a href="">
          <div class="services__slide">
            <img class="services__img" src="img/pic1.png" alt="">
            <div class="slide__border-icon">
              <div class="slide__bg-icon">
                <svg class="slide__icon">
                  <use xlink:href="img/sprite.svg#pic2"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="services__slide-text">
            Чистка лица
          </p>
        </a>
      </div>
      <div class="swiper-slide services__swiper-slide">
        <a href="">
          <div class="services__slide">
            <img class="services__img" src="img/pic1.png" alt="">
            <div class="slide__border-icon">
              <div class="slide__bg-icon">
                <svg class="slide__icon">
                  <use xlink:href="img/sprite.svg#pic3"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="services__slide-text">
            Лимфодренажный массаж
          </p>
        </a>
      </div>
      <div class="swiper-slide services__swiper-slide">
        <a href="">
          <div class="services__slide">
            <img class="services__img" src="img/pic1.png" alt="">
            <div class="slide__border-icon">
              <div class="slide__bg-icon">
                <svg class="slide__icon">
                  <use xlink:href="img/sprite.svg#pic4"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="services__slide-text">
            Восковая депиляция
          </p>
        </a>
      </div>
      <div class="swiper-slide services__swiper-slide">
        <a href="">
          <div class="services__slide">
            <img class="services__img" src="img/pic1.png" alt="">
            <div class="slide__border-icon">
              <div class="slide__bg-icon">
                <svg class="slide__icon">
                  <use xlink:href="img/sprite.svg#pic1"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="services__slide-text">
            Консультация онколога
          </p>
        </a>
      </div>
      <div class="swiper-slide services__swiper-slide">
        <a href="">
          <div class="services__slide">
            <img class="services__img" src="img/pic1.png" alt="">
            <div class="slide__border-icon">
              <div class="slide__bg-icon">
                <svg class="slide__icon">
                  <use xlink:href="img/sprite.svg#pic2"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="services__slide-text">
            Консультация онколога
          </p>
        </a>
      </div>
      <div class="swiper-slide services__swiper-slide">
        <a href="">
          <div class="services__slide">
            <img class="services__img" src="img/pic1.png" alt="">
            <div class="slide__border-icon">
              <div class="slide__bg-icon">
                <svg class="slide__icon">
                  <use xlink:href="img/sprite.svg#pic3"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="services__slide-text">
            Консультация онколога
          </p>
        </a>
      </div>
    </div>
    <div class="services__bg-gradient"></div>
    <!-- If we need navigation buttons -->
    <div class="services__slide-navigation">
      <div class="slider-button swiper-button-prev">
        <svg class="arrow__navigation arrow__navigation--lift">
          <use xlink:href="img/sprite.svg#slider-arrow"></use>
        </svg>
      </div>
      <div class="slider-button swiper-button-next">
        <svg class="arrow__navigation">
          <use xlink:href="img/sprite.svg#slider-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar services__scrollbar"></div>
</section>

<!-------  home__section-services end  ------->