<!-------   home__section-top start   ------->

<section  class="home__section-top">
  <!-- Slider main container -->
  <div class="swiper home__slider-top">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper slider-top">
      <!-- Slides -->
      <div class="swiper-slide slider__top-slide top__slide--first">
        <img class="slide__first-bg" src="img/bg.png" alt="background">
        <div class="slide__block-left">
          <h1 class="home__title title">
              <span class="home__subtitle subtitle">
                О клинике
              </span>
            Новая клиника
            <span class="home__title home__title--medium">
              в Ханты-Мансийск
            </span>
          </h1>
          <p class="slide__first-text">
            Авиценна&nbsp;&mdash; это уникальная новая клиника, в&nbsp;которой собраны свежие новаторские идеи, современное оборудование и&nbsp;высококлассные специалисты. Мы&nbsp;предоставляем весь спектр услуг по&nbsp;диагностике, лечению и&nbsp;реабилитации.
          </p>
          <button class="top__slide-info">
            Подробнее
            <svg class="button__info">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
        <img class="parallax cross" src="img/cross-parallax.png" alt="">
        <img class="parallax cross2" src="img/cross2-parallax.png" alt="">
        <img class="parallax heart" src="img/heart-parallax.png" alt="">
        <img class="parallax circle" src="img/circle-parallax.png" alt="">
        <div class="slide__block-right">
          <div class="outline large"><div class="outline medium"><div class="outline small"></div></div></div>
          <img class="doctor" src="img/doctor.png" alt="">
          <button class="block__right-btn">
            <img class="img__btn" src="img/bg-btn.png" alt="">
            <div class="btn__content">
              <div class="icon__play">
                <svg>
                  <use xlink:href="img/sprite.svg#triangle"></use>
                </svg>
              </div>
              <p class="button__text">
                Иванова Анна Николаевна
                <span class="button__subtext"></br>
                  основатель клиники
                  </span>
              </p>
            </div>
          </button>
        </div>
      </div>
      <div class="swiper-slide slider__top-slide">
        <img src="img/water-lilly-1368676.jpg" alt="">
      </div>
      <div class="swiper-slide slider__top-slide">
        <img src="img/orange-lilly-1368569.jpg" alt="">
      </div>
      <div class="top__slide-navigation">
        <!-- If we need navigation buttons -->
        <div class="swiper-button swiper-button-prev">
          <svg class="arrow__navigation arrow__navigation--lift">
            <use xlink:href="img/sprite.svg#slider-arrow"></use>
          </svg>
        </div>
        <div class="swiper-button swiper-button-next">
          <svg class="arrow__navigation">
            <use xlink:href="img/sprite.svg#slider-arrow"></use>
          </svg>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-------   home__section-top end   ------->