:root {
  --color-black: #000;
  --color-outerSpace: #222926;
  --color-corduroy: #595f5c;
  --color-conch: #d3ddd8;
  --color-white: #fff;
  --color-greenHaze: #00a94e;
  --color-vistaBlue: #80d4a7;
  --color-narvik: #e5f6ed;
  --color-alabaster: #f9f9f9;
  --color-scarlet: #fc2000;
  --color-macaroniCheese: #ffb380;
  --color-fairPink: #ffe9e5;
  --color-concrete: #f3f3f3;
  --color-alto: #dedede;

  --color-buttonGradient: linear-gradient(90deg, #ff7347 4%, #de3838 103%, #fc2400 103%);
  --color-hoverButtonGradient: linear-gradient(90deg, #fd845e 17%, #ff5f44 103%);

  --shadow-button: 5px 5px 10px rgba(255, 120, 87, 0.5);
  --shadow-buttonPlay: 5px 5px 10px rgba(252, 125, 97, 0.5);
  --shadow-hoverButton: 5px 10px 13px rgba(255, 120, 87, 0.5);
  --shadow-button-doctor: 10px 40px 50px rgba(222, 222, 222, 0.4);
  --shadow-button-doctor-top: 10px -40px 50px rgba(222, 222, 222, 0.4);

  --button-radius: 100px;
  --button-radius20: 20px;
  --button-radius10: 10px;

}


